@import './icons.css';

:root {
  --baseFont: 'Montserrat', sans-serif;
  --primary: #fed941;
  --secondary: #C4C4C4;
  --white: #fffffe;
  --grey: #a7a9be;
  --black: #000000;
  --background: #0f0e17;
  --modalbBackground: rgba(15, 14, 23, 0.9);
  --headline2: 700 2.875rem/3.5rem var(--baseFont);
  --headline1: 700 3rem/3.625rem var(--baseFont);
  --headline3: 700 1.75rem / normal var(--baseFont);
  --headline4: 700 1.5625rem / normal var(--baseFont);
  --button: 700 1.125rem/1.75rem var(--baseFont);
  --caption: 400 0.75rem/1.375rem var(--baseFont);
  --body1-regular: 400 1.125rem/1.6875rem var(--baseFont);
  --body1-bold: 700 1.125rem/1.6875rem var(--baseFont);
  --body2-regular: 400 1rem/1.375rem var(--baseFont);
  --body2-bold: 700 1rem/1.1875rem var(--baseFont);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--black);
  font-family: var(--baseFont);
}

body::-webkit-scrollbar {
  inline-size: 0.25rem;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}
