.movieGrid {
  padding-block-start: 3rem;
  padding-block-end: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .movieGrid {
    gap: 3rem;
  }
}
